{% extends "index.html.twig" %}
{% block title %}Delete{% endblock title %}
{% block content %}
<header>
    <h1>Confirm Delete Key</h1>

</header>
<main>


    <h4>Text</h4>
    <p>
        {{formdata.textKey}}</p>
    <h4>Messages</h4>
    {% for message in formdata.translationMessages %}
        <p>
            <strong>{{message.language}}</strong>
            {{message.message}}</p>
    {% endfor %}
    <a class="a_link" href="{{path("confirm_delete", {'id_key': formdata.id})}}"><button>Delete Key</button></a>
    <ul>

        <li><a class="a_link"href="{{path("index_keys")}}">Back</a></li>
    </ul>
</main>
{% endblock content %}