<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Translator Key</title>
</head>
<body>
<header>
    <h1>Confirm Delete Key</h1>

</header>
<main>


    <h4>Text</h4>
    <p>
        {{formdata.textKey}}</p>
    <h4>Messages</h4>
    {% for message in formdata.translationMessages %}
        <p>
            <strong>{{message.language}}</strong>
            {{message.message}}</p>
    {% endfor %}
    <a class="a_link" href="{{path("confirm_delete", {'id_key': formdata.id})}}">Delete Key</a>
    <ul>

        <li><a class="a_link"href="{{path("index_keys")}}">Back</a></li>
    </ul>
</main>
</body>
</html>
