<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Edit/Create Form</title>
	</head>
	<body>
		<header>
			<h1>{{mode == 'new' ? 'Add New Key' : 'Modify Key'}}</h1>

		</header>
		<main>

			<div>
				{{ form_errors(formdata) }}
			</div>

			<div>
				<div>
					{{ form_row(formdata.text_key) }}
				</div>

				<div>
					{% for translationmessage in formdata.translationmessages %}

						<p>
							{{form_label(translationmessage.message, translationmessage.language.vars.value)}}
							{{ form_widget(translationmessage.message) }}</p>


					{% endfor %}

				</div>


				<div>
					{{ form_row(formdata.submit) }}
				</div>
			</div>

			<ul>

				<li><a class="a_link"href="{{path("index_keys")}}">Back</a></li>
			</ul>
		</main>
	</body>
</html>
