{% extends "./base.html.twig" %}
{% block title %}Translator{% endblock title %}
{% block content %}
		<header>
			<h1>Keys</h1>
			<h4>
				User can view, add, update, search or delete a key in the Translator Keys
			</h4>
		</header>
		<main>
			<a class="action" href="{{path("new_key")}}">Create a new key</a>
			<div class="search-form">
				{{ form_start(formdata) }}
				<div>
					{{ form_errors(formdata) }}
				</div>
				<p>{{ form_row(formdata.search_value) }}</p>
				<p>{{ form_row(formdata.filter_domain) }}</p>
				<p>{{ form_row(formdata.empty_keys) }}</p>
				<p>
					{{ form_row(formdata.search) }}</p>
				{{ form_end(formdata) }}
			</div>
			<div>
				<a class="a_link"href="{{path("index_domains")}}"><button class="button-primary">Domains</button></a>
				<a class="a_link"href="{{path("upload_csv")}}"><button class="button-primary">Upload File</button></a>
				<a class="a_link"href="{{path("download_csv")}}"><button class="button-primary">Download File</button></a>
			</div>
			<div class="keys_table">
				{% if translation_keys is not empty %}
					<table id="keys" class="list">
						<thead>
						<tr>
							<th>ID</th>
							<th>Text</th>
							<th>NL</th>
							<th>Last Updated</th>
							<th>EN</th>
							<th>Last Updated</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						{%  for entry in translation_keys %}
							<tr>
								<td>{{entry.id}}</td>
								<td>{{entry.textKey}}</td>
								{% for message in entry.translationMessages %}
									{% if message.language == 'nl'%}
										<td>{{message.message|slice(0,15)|raw}}
											{% if message.message|length > 15 %}
												...
											{% endif %}
										</td>
										<td>{% if message.updated is not empty %}{{ message.updated|date('Y-m-d H:i:s', "Europe/Paris")  }}{% endif %}</td>
									{% endif %}
								{% endfor %}
								{% for message in entry.translationMessages %}
									{% if message.language == 'en'%}
										<td>{{message.message|slice(0,15)|raw}}
											{% if message.message|length > 15 %}
												...
											{% endif %}
										</td>
										<td>{% if message.updated is not empty %}{{ message.updated|date('Y-m-d H:i:s', "Europe/Paris")  }}{% endif %}</td>
									{% endif %}
								{% endfor %}

								<td>
									<a class="action" href="{{path("view_key", {'id_key': entry.id})}}">View</a>
								</td>
								<td>
									<a class="action" href="{{path("modify_key", {'translation_key': entry.id})}}">Edit</a>
								</td>
								<td>
									<a class="action" href="{{path("delete_key", {'translation_key': entry.id})}}">Delete</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>

					</table>
				{% endif %}
			</div>
			{% if translation_keys is empty %}
				<p>No Entry Found!!</p>
			{% endif %}

		</main>
{%  endblock content %}
