{% extends "./base.html.twig" %}
{% block title %}Translator{% endblock title %}
{% block content %}
		<header>
			<h1>Keys</h1>
			<h4>
				User can view, add, update or delete a key in the Translator Keys
			</h4>
		</header>
		<main>
			<a class="action" href="{{path("new_key")}}">Create a new key</a>
			<table class="list">
				<tr>
					<th>ID</th>
					<th>Text</th>

					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>

				</tr>
				{%  for entry in translation_keys %}
					<tr>
						<td>{{entry.id}}</td>


						<td>{{entry.textKey}}</td>
						<td>
							<a class="action" href="{{path("view_key", {'id_key': entry.id})}}"><button>View</button></a>
						</td>
						<td>
							<a class="action" href="{{path("modify_key", {'translation_key': entry.id})}}"><button>Edit</button></a>
						</td>
						<td>
							<a class="action" href="{{path("delete_key", {'id_key': entry.id})}}"><button>Delete</button></a>
						</td>

					</tr>
				{% endfor %}


			</table>

				<a class="a_link"href="{{path("home")}}"><button>Back</button></a>


		</main>
{%  endblock content %}
