<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Translator Key</title>
	</head>
	<body>
		<header>
			<h1>Keys</h1>
			<h4>
				User can view, add, update or delete a key in the Translator Keys
			</h4>
		</header>
		<main>
			<a class="action" href="{{path("new_key")}}">Create a new key</a>
			<table class="list">
				<tr>
					<th>ID</th>
					<th>Text</th>

					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>

				</tr>
				{%  for entry in translation_keys %}
					<tr>
						<td>{{entry.id}}</td>


						<td>{{entry.textKey}}</td>
						<td>
							<a class="action" href="{{path("view_key", {'id_key': entry.id})}}">View</a>
						</td>
						<td>
							<a class="action" href="{{path("modify_key", {'translation_key': entry.id})}}">Edit</a>
						</td>
						<td>
							<a class="action" href="{{path("delete_key", {'translation_key': entry.id})}}">Delete</a>
						</td>

					</tr>
				{% endfor %}


			</table>
			<ul>
				<li><a class="a_link"href="{{path("home")}}">Back</a></li>

			</ul>
		</main>
	</body>
</html>
