{% extends "key/index.html.twig" %}
{% block title %}Upload{% endblock title %}
{% block content %}
    <header>
        <h1>Upload the 2 Translation message files here...</h1>

    </header>
    <main>
        <div class="form_container">
            {{ form_start(formdata) }}
             <div>
                {{ form_errors(formdata) }}
            </div>

            <div class="upload_form">
                <div>{{ form_row(formdata.nl_file) }}</div>
                <div>{{ form_row(formdata.en_file) }}</div>
                <div>
                    {{ form_row(formdata.upload) }}
                </div>
            </div>
            {{ form_end(formdata) }}

        </div>


        <div>
            <a class="a_link"href="{{path("index_keys")}}"><button>Back</button></a>
        </div>
    </main>
{% endblock content %}
