{% extends "key/index.html.twig" %}
{% block title %}View details{% endblock title %}
{% block content %}
		<header>
			<h1>View Key Details</h1>
		</header>
		<main>
			<h4>Text</h4>
			<p>
				{{formdata.textKey}}</p>
			<h4>Messages</h4>
			{% for message in formdata.translationMessages %}
				<p>
					<strong>{{message.language}}</strong>
					{{message.message}}</p>
			{% endfor %}
			<h4>Domains</h4>
			{% for domain in formdata.domains %}
				<p>
					<strong>{{domain.domainName}}</strong>

			{% endfor %}
					<a class="a_link"href="{{path("index_keys")}}"><button>Back</button></a>
		</main>
		{% endblock content %}