{% extends "base.html.twig" %}
{% block title %}Domains{% endblock title %}
{% block content %}
    <header>
        <h1>Domains</h1>
    </header>
    <main>
        <a class="action" href="{{path("new_domain")}}">Create a new Domain</a>
        <div class="domain_table">
                <table id="domains" class="list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Domain Name</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entry in domains %}
                        <tr>
                            <td>{{entry.id}}</td>
                            <td>{{entry.domainName}}</td>
                            <td>
                                <a class="action" href="{{path("view_domain", {'id_domain': entry.id})}}"><button class="button-secondary">View</button></a>
                            </td>
                            <td>
                                <a class="action" href="{{path("edit_domain", {'domain': entry.id})}}"><button class="button-secondary"> Edit</button></a>
                            </td>
                            <td>
                                <a class="action" href="{{path("delete_domain", {'domain': entry.id})}}"><button class="button-secondary">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
        </div>
        <a class="a_link"href="{{path("index_keys")}}"><button class="button-secondary">Back</button></a>
    </main>
{% endblock %}