{% extends "base.html.twig" %}
{% block title %}Translator{% endblock title %}
{% block content %}

		<header>
			<h1>Translator</h1>
			<p>
				Search or View the list of Keys and its messages
			</p>
		</header>

		<main>
				<div class="search-form">
					{{ form_start(formdata) }}
					<div>
						{{ form_errors(formdata) }}
					</div>
					<p>{{ form_row(formdata.search_value) }}</p>
					<p>
					{{ form_row(formdata.submit) }}</p>
					{{ form_end(formdata) }}
				</div>
			<a class="a_link"href="{{path("index_keys")}}"><button class="button-primary">All Keys</button></a>
				<div class="search_result">
					{% if search == true %}
					{% if result_keys is not empty %}
						<h2>List of Keys found</h2>
						{% for key in result_keys %}
					<table class="list">
						<tr>
							<th>Text</th>
							<th>NL</th>
							<th>EN</th>

						</tr>
						<tr>
							<td>{{key.textKey}}</td>
							{% for message in key.translationMessages %}

								<td>{{message.message}}</td>
							{% endfor %}


						</tr>

					</table>
						{% endfor %}
					{% endif %}
					{% if result_keys is empty and result_messages is empty %}
						<p>No Entry Found!!</p>
					{% endif %}
					{% if result_messages is not empty %}
						<h2>List of Messages found</h2>
					<table class="list">
						<tr>
							<th>Text</th>
							<th>Language</th>
							<th>Message</th>

						</tr>
						{% for message in result_messages %}
						<tr>
							<td>{{ message.translationKey.textKey }}</td>
							<td>{{ message.language }}</td>
							<td>{{ message.message }}</td>
						</tr>

						{% endfor %}
					</table>
					{% endif %}
			{% endif %}
				</div>


		</main>
{% endblock content %}

