<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Details</title>
	</head>
	<body>
		<header>
			<h1>{{mode == 'new' ? 'Add New Entry' : 'Modify Entry'}}</h1>

		</header>
		<main>

			<form action="" method="post">
				<dl>
					<dt>Key</dt>
					<dd>
						<select name="form[key]" class="form-select">
							{% for translation_key in translation_keys %}
								<option value="{{translation_key.id}}" {{translation_key.text_key == formdata.text_key ? 'selected' : "" }}>{{translation_key.text_key}}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt>Language</dt>
					<dd>
						<select name="form[language]" class="form-select">
							{% for language in languages %}
								<option value="{{language}}" {{language == formdata.language ? 'selected' : "" }}>{{language}}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt>Message</dt>
					<dd><input type="text" name="form[message]" value="{{formdata.message is defined ? formdata.message : ""}}" class="form-input-name"/></dd>
				</dl>
				<input type="submit" value="Submit">
			</form>
			<ul>

				<li><a class="a_link"href="{{path("index_catalog")}}">Back</a></li>
			</ul>
		</main>
	</body>
</html>
